name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: redsoc

    steps:
      - name: Pull
        run: cd /home/ubuntu/opp/ && git pull
      - name: Build
        run: zsh -c "source /home/ubuntu/.zshrc && cd /home/ubuntu/opp/ && npm i && npm run build"
      - name: Restart Server
        run: zsh -c "source /home/ubuntu/.zshrc && pm2 restart opp"
